<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
				<li><a href="/cfp">Call for Proposals</a></li>
				<li><a href="/schedule">Schedule</a></li>
	        		<li><a href="/registration">Registration</a></li>
				<li><a href="/sponsors">Sponsors</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:dh@msu.edu">email</a></li>
	        		<li><a href="https://github.com/msudh">github.com/msudh</a></li>
				</ul>
			</footer>
		</body>
	</html>
